

/* p{
    background-color: blue;
    color: white;
    padding: 10 px; 
}
h1{
    font-size: 10px;
    font-weight: normal;
}
div>ul{
    color: green;
}

.dark{
    background-color: darkslategrey;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.light{
    background-color: white;
    color: darkslategrey;
    font-size: 20 px;
}

#dark{
    background-color: black;
    color: white;
    font-size: 20px; */
/* } */

/* div{
    background-color: pink;
} */

/* <style type="text/css"> */
body {
    background-color:000000;
    background-image:url(http://https://www.covercentury.com/covers/psx/n/NBA-Live-98-NTSC-PSX-CD.jpg);
    background-repeat:repeat;
    background-position:top left;
    background-attachment:fixed;
}

